# PyCharm
.idea/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
/venv/
.env

# Jupyter Notebook
*.ipynb_checkpoints/
*ipynb

# Others
.DS_Store
*.swp
*.swo

*.env
*/metadata/
*/data/*
*.json
logs/
cache/
exports/
.env
*.zip
src/lambda_layer/*
*backend.conf
*terraform.tfvars